html{
    height: auto;
}
body{
    background: linear-gradient(0deg, rgb(61, 11, 49) 0%, rgb(64, 126, 72) 100%);
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    margin: auto;
    height: 100%;
}

#app{
    display: grid;
    grid-template-rows: repeat(autofill,minmax(150px, 3fr)); 
    height:100%;
    margin: auto;
    margin-left: auto;
    margin-right: auto;
    color: #f0d43a;
    justify-content: center;
    grid-gap: 1em;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    background-image: url(../website/picture/apppic.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.entry{
    background: rgba(241, 245, 15, 0.4);
    margin: 20px auto;
    text-align: center;
    background: linear-gradient(0deg, rgb(235, 17, 206) 0%, rgb(8, 119, 4) 100%);;
    width: 78%;
    min-height: 200px;
    border-radius: 60px;
    box-shadow: 0px 0px 8px 4px rgba(179, 11, 101, 0.149);
    color: gold;
    font-weight: 700;
    font-size: 30px;
    
}
.zip{
    margin: 20px auto;
    margin-top: -10px;
    text-align: center;
    background-color: rgba(28, 197, 64, 0.19);
    width: 85%;
    min-height: 140px;
    border-radius: 60px;
    box-shadow: 0 8px 16px 0 hsl(128, 92%, 53%), 0 6px 20px 0 hsl(64, 91%, 57%);
    color: gold;
    font-weight: 700;
}
.zip input{
    margin: auto;
    width: 80%;
    min-height: 50px;
    border-radius: 30px;
    background:linear-gradient(0deg, rgb(11, 48, 4) 0%, rgb(110, 13, 148) 100%);
    color: white;
    font-size: 30px;
    text-align: center;
    border: none;
}
.feel{
    margin: 20px auto;
    text-align: center;
    background:linear-gradient(0deg, rgb(142, 240, 122) 0%, rgb(164, 118, 182) 100%);
    width: 80%;
    min-height: 250px;
    border-radius: 60px;
    color: gold;
    font-weight: 650;
}
.feel textarea{
    margin: auto;
    width: 80%;
    min-height: 90px;
    max-height: 100px;
    border-radius: 30px;
    background:linear-gradient(0deg, rgb(155, 34, 135) 0%, rgb(2, 22, 6) 100%);
    color: white;
    font-size: 30px;
    text-align: center;
}

#entryHolder{
    text-align: center;
}

#date{
    text-align: center; 
}

#temp{
    text-align: center;
}

#content{
    text-align: center;
}

.headline {
    margin: 20px auto;
    font-size: 56px;
    text-align: center;
    font-weight: 900;
    color: #46d633;
    text-shadow: 1px 5px 8px rgb(236, 18, 182);
}
.main{
    background-color: #081d05;
    margin-top: 5px;
    margin-left: -90px;
    padding: 10px;
    width: fit-content;
    border-radius: 50px;
    text-align: center;
    cursor: pointer;
    font-size: 20px;
    display: flex;
    position: relative;
}
a{
    background: linear-gradient(50deg, hsl(320, 75%, 22%), hsl(109, 83%, 9%));
    color: #46d633;
    text-shadow: 1px 5px 8px rgb(236, 18, 182);
    width: fit-content;
    margin-left: -85px;
    text-decoration: none;
}
.main:hover, a:hover{
    background: linear-gradient(50deg, hsl(320, 82%, 11%), hsl(110, 75%, 51%));
    color: white;
}
.footer{
    width: 100%;
    text-align: center;
    background: linear-gradient(50deg, hsl(320, 75%, 22%), hsl(109, 83%, 9%));
    position: absolute;
    color: gold;
}
.fa-staylinked{
    background: white;
}
.fa-at{
    background: white;
}
.title{
    text-align: center;
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label{
    display:block;
    font-size: 27px;
}

input{
    display:block;
    height: 60px;
    width: 320px;
    background:#22b2da;
    color: #f0d43a;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    border: none;
}

#generate{
    background: linear-gradient(50deg, hsl(313, 87%, 50%), hsl(118, 93%, 16%));
    color: gold;
    cursor: pointer;
    padding: 18px;
    width: fit-content;
    height: fit-content;
    border: none;
    text-align: left;
    outline: none;
    font-size: 35px;
    margin-top: 10px;
    border-radius: 60px;
}
#generate:hover{
    background: linear-gradient(50deg, hsl(130, 88%, 10%), hsl(320, 88%, 20%));
}
h1{
    font-size: 36px;
}

textarea{
    background:#22b2da;
    color: #f0d43a;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
/* Style for Placeholder Text*/
::placeholder { /* Firefox, Chrome, Opera */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: #f0d43a; 
    font-family: 'Oswald', sans-serif;

}
